<div class="main-container">
  <h1>Google for Beer</h1>
  <div class="search-container">
    <%= simple_form_for @beer_search do |f| %>
      <%= f.input :beer_query %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
